In [51]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the CSV file into a DataFrame
assignments = pd.read_csv('./data/hackathon_alternate_data/navigation_events.csv')

students = pd.read_csv('./data/hackathon_alternate_data/additional/gradebook.csv')
students.head()

students_sorted_a1_dsc = students.sort_values(by='Assignment 1 (c81f04547a95da2a7b88054ef491b7c4)', ascending=False)
top_students = students_sorted_a1_dsc.head(int(0.25 * len(students_sorted_a1_dsc) + 1))

top_students

,Student,Assignment 1 (c81f04547a95da2a7b88054ef491b7c4),Assignment 2 (a4dc11e7e79361fc5886a9078aac66b8),Assignment 3 (option A) (811d93ea379b5cdd5a19f1b5dbab88cd),Assignment 3 (option B) (df8d1f1ff3f48fdc24a278b40c5f45cc),Assignment 3 (option C) (bb971b36c1578cede00150acda89aa99),Assignment 3 (option D) (f1ad954cd2cddda6e17f6fc225d1aa3e),Participation grade: Formative (not included in final grade) (5965e0b0c712861d0efdd9be54572114),Assignment 1 Current Score,Assignment 2 Current Score,Assignment 3 Current Score,Participation & engagement Current Score,Current Score
0,NaN,Manual Posting,Manual Posting,Manual Posting,Manual Posting,Manual Posting,Manual Posting,Manual Posting,NaN,NaN,NaN,NaN,NaN
22,LEARNER_24,95,90,NaN,NaN,78,NaN,8.5,95,90,78,85,86.4
17,LEARNER_14,95,92,NaN,86,NaN,NaN,6,95,92,86,60,84.4
14,LEARNER_37,94,82,83,NaN,NaN,NaN,7,94,82,83,70,82.3
28,LEARNER_3,94,92,NaN,NaN,82,NaN,9,94,92,82,90,89
25,LEARNER_6,94,94,NaN,84,NaN,NaN,10,94,94,84,100,92.2
26,LEARNER_2,93,85,NaN,NaN,NaN,95,6,93,85,95,60,84.6
32,LEARNER_25,93,88,81,NaN,NaN,NaN,9,93,88,81,90,87.3
6,LEARNER_7,92,83,NaN,NaN,80,NaN,10,92,83,80,100,87.3
20,LEARNER_35,92,72,NaN,77,NaN,NaN,8,92,72,77,80,79.1

In [52]:
students_sorted_a1_asc = students.sort_values(by='Assignment 1 (c81f04547a95da2a7b88054ef491b7c4)', ascending=True)
bot_students = students_sorted_a1_asc.head(int(0.25 * len(students_sorted_a1_asc) + 1))

bot_students

,Student,Assignment 1 (c81f04547a95da2a7b88054ef491b7c4),Assignment 2 (a4dc11e7e79361fc5886a9078aac66b8),Assignment 3 (option A) (811d93ea379b5cdd5a19f1b5dbab88cd),Assignment 3 (option B) (df8d1f1ff3f48fdc24a278b40c5f45cc),Assignment 3 (option C) (bb971b36c1578cede00150acda89aa99),Assignment 3 (option D) (f1ad954cd2cddda6e17f6fc225d1aa3e),Participation grade: Formative (not included in final grade) (5965e0b0c712861d0efdd9be54572114),Assignment 1 Current Score,Assignment 2 Current Score,Assignment 3 Current Score,Participation & engagement Current Score,Current Score
1,Points Possible,100,100,100,100,100,100,10,(read only),(read only),(read only),(read only),(read only)
10,LEARNER_36,56,84,75,NaN,NaN,NaN,6,56,84,75,60,70.9
29,LEARNER_48,69,NaN,NaN,NaN,NaN,NaN,NaN,69,NaN,NaN,NaN,13.8
18,LEARNER_21,71,87,84,NaN,NaN,NaN,6.5,71,87,84,65,78.5
35,LEARNER_18,73,73,NaN,NaN,74,NaN,5.5,73,73,74,55,69.7
7,LEARNER_30,77,89,NaN,NaN,74,NaN,7,77,89,74,70,78.3
24,LEARNER_31,78,84,77,NaN,NaN,NaN,7,78,84,77,70,77.9
23,LEARNER_1,79,84,NaN,NaN,73,NaN,9,79,84,73,90,80.9
30,LEARNER_33,79,87,NaN,NaN,74,NaN,4,79,87,74,40,72.1
15,LEARNER_17,80,65,74,NaN,NaN,NaN,4,80,65,74,40,65.7